@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, h6, input, i, b, strong, small, blockquote, sub, sup, span {
    font-family: 'JetBrains Mono', consolas, monospace;
}

.scale-crisp {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}